extends layout.pug

block content
    a(href="/login",id="login") login
    br
    a(href="/register",id="register") register

    p= message
    if name == undefined
        p p Hello visitor
    else
        p p Hello #{name}

    //script(src="/javascripts/jsonp.js")