extends layout.pug

block content
    a(href="/login",id="login") login
    br
    a(href="/register",id="register") register
    br
    a(href="/chat",id="chat") chat
    br
    a(href="/roomchat",id="roomchat") roomchat
    br
    a(href="/upload",id="upload") upload

    p= message
    if name == undefined
        p p Hello visitor
    else
        p p Hello #{name}

    //script(src="/javascripts/jsonp.js")