extends layout

block content
    form(action="/login",method="post",id="login")
        p name:
        input(type="text",name="name",id="name")
        p password:
        input(type="password",name="password",id="password")
        p make sure password
        input(type="password",name="password2",id="password2")
        ='\n'
        input(type="checkbox",name="remember",id="remember")
        p remember password
        input(type="submit",value="submit")
        ='\n'
    
    a(href="/register",id="register") register

    p=title