extends layout.pug

block title
    title upload

block content
    form(action="/upload",method="post",id="uploadForm" enctype="multipart/form-data")
        input(type="file",name="uploadFile",id="uploadFile") 
        br
        input(type="button",value="submit",onclick="uploadByForm();")

    p upload

    div#uploadImg
        img#image(alt="")

    script(src='/javascripts/uploadImages.js')